@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Đặt lại mật khẩu";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">@ViewData["Title"]</h1>
    <p>Hãy nhập thông tin dưới đây để đặt lại mật khẩu của bạn.</p>
</div>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <input asp-for="Input.Code" type="hidden" />
    <div class="form-group">
        <input asp-for="Input.Email" class="form-control form-control-user" autocomplete="username" aria-required="true" placeholder="Email" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Input.Password" class="form-control form-control-user" autocomplete="new-password" aria-required="true" placeholder="Mật khẩu mới" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Input.ConfirmPassword" class="form-control form-control-user" autocomplete="new-password" aria-required="true" placeholder="Xác nhận mật khẩu mới" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-login btn-user btn-block">Đặt lại mật khẩu</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}